/*Samotné tělo*/

body{
    font-family: "Source Sans Pro", sans-serif;
    margin: 0;
    background-color: #ddd;
}

/*Scrollbar*/

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: #ddd;
}
   
::-webkit-scrollbar-thumb {
    background: #333;
}
  
::-webkit-scrollbar-thumb:hover {
    background: #111;
}

/*Záhlavý*/

.home_img{
    max-width: 100%;
    min-width: 100%;
}

.zahlavi{
    font-size: 0;
    cursor: pointer;
}

/*Navigace*/

.navigace{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 15px;
    position: sticky;
    top: 0;
    left: 0;
    background-color: #333;
    box-shadow: 0px 2px 3px 1px #000;
}

.tlacitko, .tlacitko_aktualni{
    cursor: pointer;
    background-color: #111;
    padding: 10px;
    border-style: solid;
    border-width: 2px;
    border-radius: 4px;
    font-size: 1.5rem;
    font-weight: bold;
    user-select: none;
}

.tlacitko{
    color: #bbb;
    border-color: #bbb;
    box-shadow: 3px 3px 5px 1px #222;
}

.tlacitko_aktualni, .tlacitko:hover{
    color: #fff;
    border-color: #fff;
    box-shadow: 3px 3px 5px 1px #000;
}

/*Různé flexboxy na stránce*/

.kontejner_dolu, .kontejner_dolu_dvojity{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.kontejner_dolu{
    margin: 20px;
}

.kontejner_dolu_dvojity{
    width: 37vw;
}

.kontejner_vpravo, .kontejner_vpravo_carkovaty{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 40px;
}

.kontejner_vpravo{
    justify-content: center;
    align-items: center;
}

.kontejner_vpravo_carkovaty{
    justify-content: flex-start;    
    align-items: stretch;
}

/*Různé čárky na stránce*/

.carka_vodorovna, .carka_svisla, .carka_svisla_velka{
    border-style: solid;
    border-color: #333;
    border-width: 2px;
    border-radius: 2px;
}

.carka_vodorovna{
    width: 90%;
}

.carka_svisla{
    height: 2rem;
}

/*Různé texty na stránce*/

.pismenka_za_sebou, .pismenka_za_sebou_mensi, .email{
    font-size: larger;
    text-align: center;
}

.email{
    text-transform: uppercase;
    cursor: pointer;
}

.pismenka_za_sebou{
    max-width: 80vw;
}

.pismenka_za_sebou_mensi{
    max-width: 50vw;
}

.autor{
    text-transform: uppercase;
    cursor: pointer;
    width: 40vw;
}

.autor1{
    text-align: right;
}

.autor2{
    text-align: left;
}

.autor:hover, .email:hover{
    text-shadow: 5px 5px 10px #222;
}

.nadpis, .nadpis_mensi{
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}

.nadpis{
    font-size: 2rem;
}

.nadpis_mensi{
    font-size: 1.5rem;

}

/*Různé obrázky na stránce*/

.autor_img{
    box-shadow: 5px 5px 5px 1px #222;
    border-radius: 5px;
}

/*Potřebné věci k modálním oknům*/

.nic{
    display: none;
}

.okno_zpusobove, .zavirac{
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    overflow-y: scroll;
    animation:  okno_zpusobove-animace-otevreni 0.5s;
}

.okno_zaviraci{
    animation:  okno_zpusobove-animace-zavreni 0.51s;
}

.zavirac{
    z-index: 1;
    cursor: pointer;
    user-select: none;
}

.okno_zpusobove, .kontejner_zpusobovy_dolu, .okno_zpusobove_true{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.okno_zpusobove_true{
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: flex-start;
    padding-top: 10px;
}

.okno_zpusobove{
    background-color: rgba(0, 0, 0, 0.5);
}

.kontejner_zpusobovy_dolu{
    flex-wrap: nowrap;
    gap: 15px;
}

.kontejner_zpusobovy{
    background-color: #fff;
    z-index: 10;
    padding: 20px;
    border-style: solid;
    border-width: 2px;
    border-radius: 8px;
    margin: 10px 0 20px 0;
    box-shadow: 3px 3px 5px 1px #222;
}  

#zaviratel{
    padding: 5px;
    border-radius: 50%;
    float: right;
    margin: -38px;
}

#zaviratel:hover{
    background-color: #fff;
    font-weight: bolder;
}

#zaviratel, .tlacitko_zpusobove, .tlacitka{
    cursor: pointer;
    user-select: none;
    border-style: solid;
    border-width: 2px;
    background-color: #bbb;
}

/*Kartičky*/

.karticky_ve_flexu{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.karticka{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    gap: 20px; 
    background-color: #fff;
    box-shadow: 3px 3px 5px 1px #222;
    border-style: solid;
    border-color: #333;
    border-width: 2px;
    border-radius: 8px;
    padding: 10px;
    max-width: 25vw;
}

.fotecka_v_karticce{
    margin: -10px -10px 10px -10px;
    border-radius: 5px 5px 0 0;
    max-width: 26vw;
}

/*Tlačítka*/

.tlacitko_zpusobove, .tlacitka{
    padding: 10px;
    border-radius: 4px;
    font-size: 1.25rem;
    font-weight: bolder;
}

.tlacitko_zpusobove:hover{
    background-color: #ddd;
}

.tlacitka:hover{
    background-color: #fff;
}

/*Animace*/

.tlacitko_zpusobove:hover, .tlacitko_zpusobove, #zaviratel:hover, #zaviratel, .autor:hover, .autor, .tlacitko_aktualni, .tlacitko:hover, .tlacitko, .tlacitka, .tlacitka:hover, .email, .email:hover{
    transition: 0.2s;
}

/*Animace pro modál*/

@keyframes okno_zpusobove-animace-otevreni{
    0% {opacity:0;}
    100% {opacity:100;}
}

@keyframes okno_zpusobove-animace-zavreni{
    0% {opacity:100;}
    100% {opacity:0;}
}


/*Animace Zastavte Všemi Prostředky*/


.zvs{
    width: 26vw;
    height: 26vw;
    animation: zvs 2s;
    animation-iteration-count: infinite;
}

@keyframes zvs{
    0% {background: url("../karticky/nav_na_hv_1.png"); background-size: cover; background-repeat: no-repeat; background-position: center;}
    50% {background: url("../karticky/nav_na_hv_0.png"); background-size: cover; background-repeat: no-repeat; background-position: center;}
    100% {background: url("../karticky/nav_na_hv_1.png"); background-size: cover; background-repeat: no-repeat; background-position: center;}
}